<div class="container py-4">
  <h3 class="mb-3">Login (demo)</h3>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Usuario</label>
      <input class="form-control" #user>
    </div>
    <div class="col-md-6">
      <label class="form-label">Rol</label>
      <select class="form-select" #role>
        <option value="admin">admin</option>
        <option value="cliente">cliente</option>
        <option value="empleado">empleado</option>
      </select>
    </div>
    <div class="col-12">
      <button class="btn btn-danger" (click)="login($any(role.value), user.value)">Ingresar</button>
    </div>
  </div>
</div>
